* {
  margin: 0px;
  padding: 0px;
}
html {
  height: 100%;
}
body {
  background-color: grey;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}
.map{
  position: relative;
}
/*PARTE SIDEBAR */
#sidebar {
  position: absolute;
  width: 300px;
  height: 100%;
  background: #fff;
  left: -300px;
  transition: 0.3s;
  z-index: 10;
}

#sidebar ul li {
  list-style: none;
  color: #000;
  font-size: 20px;
  margin-left: 20px;
  padding: 26px 24px;
}

#sidebar .toggle-btn {
  position: absolute;
  top: 30px;
  left: 320px;
}

.input-container {
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}
.icon {
  color: #000;
  border-bottom: 2px solid grey;
  min-width: 10px;
  text-align: center;
  margin-left: 25px;
  margin-top: 20px;
}
.iconFilter {
  min-width: 10px;
  text-align: center;
  margin-left: 25px;
  margin-top: 20px;
}
.txtPesquisa {
  width: 200px;
  outline: 0;
  font-size: 16px;
  border-width: 0 0 2px;
  padding-left: 30px;
  border-color: grey;
  box-sizing: border-box;
  margin-top: 20px;
  margin-left: 20px;
  text-align: left;
}

.iconProfile {
  position: absolute;
  bottom: 10px;
  left: 25px;
}

.iconBasket {
  color: orangered;
  margin-right: 10px;
}

.iconFutebol {
  margin-right: 10px;
}
.iconVolley {
  color: black;
  margin-right: 10px;
}
.iconTenis {
  font-size: 24px;
  color: yellowgreen;
  margin-right: 8px;
}
.iconPadel {
  font-size: 24px;
  color: lightseagreen;
  margin-right: 8px;
}

.toggle-btn {
  cursor: pointer;
}
.toggle-btn span {
  width: 35px;
  height: 4px;
  background: #000;
  display: block;
  margin-top: 4px;
}
#sidebar.active {
  left: 0;
}

#barraMenu {
  position: absolute;
  width: 75px;
  height: 100%;
  background-color: #fff;
}

.titulo {
  margin-left: 25px;
  margin-top: 75px;
}
/*////////////////////////////*/
.map {
  margin-left: 75px;
  height: 100%;
  width: 100%;
}

.ol-popup {
  max-width:400px;
  min-width:100px;
  min-height:1em; 
}
/*.ol-popup:after, .ol-popup:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.ol-popup:after {
  border-top-color: white;
  border-width: 10px;
  left: 48px;
  margin-left: -10px;
}
.ol-popup:before {
  border-top-color: #cccccc;
  border-width: 11px;
  left: 48px;
  margin-left: -11px;
}
.ol-popup-closer {
  text-decoration: none;
  position: absolute;
  top: 2px;
  right: 8px;
}
.ol-popup-closer:after {
  content: "✖";
}*/

.imagensCampos{
  width: 350px;
  height: 200px;
  margin-top: 10px;
}

.btnEventos{
  margin-top: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: lightseagreen;
  color: white;
  font-size: 16px;
  padding: 5px;
  border: 0px;
  border-radius: 10px;
}

.btnEventos:hover{
  font-weight: bold;
}


.infoP{
  margin-top: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}
.imagensAvatares{
  margin-top: 10px;
  width: 30px;
  display: inline;
  margin-left: 5px;
}

.divParticipantes >img:first-child{
  margin-left: 0px;
}

.btnAddEventos{
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding: 5px;
  width: min-content;
  border-radius: 10px;
  background-color: green;
  font-size: 16px;
  color: white;
  border: 0px;
}
.btnAddEventos:hover{
  font-weight: bold;
}

.setas{
  color: orangered;
  margin: 20px 20px 0px 0px;
}
.btnSetas{
  background: none;
  border: none;
}

#setaDireita{
  float:right;
}
#filtroRaio{
  border: 1px outset lightblue;
   background-color: white;
   height:18px;
   width:18px;
   cursor:pointer;
}
#filtroRaio:hover {
  background-color: lightblue;
  color:white;
}
#raio{
  max-width: 100px;
  display: inline;
}
.voltarAtras{
  border: none;
  color: rgba(0, 60, 136, 0.7);
  font-size: 17px;
  opacity: 80%;
  cursor: pointer;

}
