* {
  margin: 0px;
  padding: 0px;
}
html{
    height: 100%;
}
body {
  background-color: grey;
  height: 100%;
}

/*PARTE SIDEBAR */
#sidebar {
  position: absolute;
  width: 300px;
  height: 100%;
  background: #fff;
  left: -300px;
  transition: 0.3s;
  z-index: 10;
}

#sidebar ul li {
  list-style: none;
  color: #000;
  font-size: 20px;
  margin-left: 20px;
  padding: 26px 24px;
}

#sidebar .toggle-btn {
  position: absolute;
  top: 30px;
  left: 320px;
}

.input-container {
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}
.icon {
  color: #000;
  border-bottom: 2px solid black;
  min-width: 10px;
  text-align: center;
  margin-left: 25px;
  margin-top: 20px;
}
.iconFilter {
  min-width: 10px;
  text-align: center;
  margin-left: 25px;
  margin-top: 20px;
}
.txtPesquisa {
  width: 200px;
  outline: 0;
  font-size: 16px;
  border-width: 0 0 2px;
  padding-left: 30px;
  border-color: black;
  box-sizing: border-box;
  margin-top: 20px;
  text-align: left;
}

.iconProfile {
  position: absolute;
  bottom: 10px;
  left: 25px;
}

.iconBasket{
    color: orangered;
    margin-right: 10px;
}

.iconFutebol{
  margin-right: 10px;
}
.iconVolley{
  color: black;
  margin-right: 10px;
}
.iconTenis{
  font-size: 24px;
  color: yellowgreen;
  margin-right: 10px;
}
.iconPadel{
  font-size: 24px;
  color: lightseagreen;
  margin-right: 10px;

}

.toggle-btn {
  cursor: pointer;
}
.toggle-btn span {
  width: 35px;
  height: 4px;
  background: #000;
  display: block;
  margin-top: 4px;
}

#sidebar.active {
  left: 0;
}

/*////////////////////////////*/


#barraMenu {
  position: absolute;
  width: 75px;
  height: 100%;
  background-color: #fff;
}


.titulo{
    margin-left: 25px;
    margin-top: 75px;
}

.map {
    margin-left: 75px;
    height: 100%;
    width: 100%;
  }