
.popuplg {
    display: none;
    position:fixed;
    bottom:0px;
    left:0px;
    margin:35px;
}


.popup-contentLg {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    /* Could be more or less, depending on screen size */
}