
.popuplg {
    display: none;
    position:fixed;
    bottom:45px;
    left:10px;
    margin:0px;
    height: fit-content;
}


.popup-contentLg {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 10px;
    border: 1px solid #888;
    /* Could be more or less, depending on screen size */
}