
.login_popup {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 5000;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

.create_popup {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 5000;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}


.popup-content {

    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 45px;
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
}

.popup_content{
    
    display:grid;
    grid-template-columns: auto;
    justify-content: center;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.btnLogIn{
    margin-top: 15px;
    text-align: center;
    border: 1px solid black;
    display: flex;
    justify-content: center;
}



#loginBtn {
    font-size: medium;
    background-color: black;
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid grey;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto',sans-serif;
    font-weight: 300;
    color: #FFFFFF;
    text-align: center;
    transition: all 0.2s;
    height: 32px;
    width: 175px;
    margin-top: 15px;
    justify-content: center;
  }
button#loginBtn:hover {
    background-color: white;
    color: black;
}
.botaoDefault {
    font-size: medium;
    background-color: black;
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid grey;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto',sans-serif;
    font-weight: 300;
    color: #FFFFFF;
    text-align: center;
    transition: all 0.2s;
    height: 32px;
    width: 175px;
    margin-top: 15px;
    justify-content: center;
  }
.botaoDefaultInverse:hover {
    background-color: black;
    color: white;
}
.botaoDefaultInverse {
    font-size: medium;
    background-color: white;
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid grey;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto',sans-serif;
    font-weight: 300;
    color: black;
    text-align: center;
    transition: all 0.2s;
    height: 32px;
    width: 175px;
    margin-top: 15px;
    justify-content: center;
  }
.botaoDefault:hover {
    background-color: white;
    color: black;
}
#btnCriarConta{
    font-size: medium;
    background-color: black;
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid grey;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto',sans-serif;
    font-weight: 300;
    color: #FFFFFF;
    text-align: center;
    transition: all 0.2s;
    height: 32px;
    width: 175px;
    margin-top: 15px;
    justify-content: center;
}
div#btnCriarConta:hover {
    background-color: white;
    color: black;
}

#inputUsername, #inputPassword,#CriarContaPass,#CriarContaPass2,#criarContaUsername,#criarContaEmail{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
  }

  #submitCriarConta{
      height: 120px;
    font-size: medium;
    background-color: black;
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid grey;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto',sans-serif;
    font-weight: 300;
    color: #FFFFFF;
    text-align: center;
    transition: all 0.2s;
    height: 32px;
    width: 300px;
    margin-top: 15px;
    justify-content: center;
  }
  button#submitCriarConta:hover{
    background-color: white;
    color: black;
  }

  #logged{
    position: absolute;
    bottom:0px;
    left:65px;
}
.onHover:hover{
    cursor: pointer;
}


.tamanhoCheck2
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(1.2); /* IE */
  -moz-transform: scale(1.2); /* FF */
  -webkit-transform: scale(1.2); /* Safari and Chrome */
  -o-transform: scale(1.2); /* Opera */
  transform: scale(1.2);
  padding: 10px;
}
.tamanhoCheck
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(1.7); /* IE */
  -moz-transform: scale(1.7); /* FF */
  -webkit-transform: scale(1.7); /* Safari and Chrome */
  -o-transform: scale(1.7); /* Opera */
  transform: scale(1.7);
  padding: 10px;
}